header {
    color: floralwhite;
    background-color: darkseagreen;
    padding: 5px;
    text-align: center;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav > ul {
    color: forestgreen;
    list-style: none;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}
/* 修改部分 */
.container{
	margin: 0 4rem;
	
}
.intro {
	font-size: 2rem;
	padding-top: 2rem;
	padding-bottom:  0.5rem;
	border-bottom: solid 0.1rem darkseagreen;
	color: 	darkseagreen;
	

}
.context{
	font-size: 1.5rem;
	color: darkseagreen;

}
