header {
	color: floralwhite;
	background-color: darkseagreen;
	padding: 5px;
	text-align: center;
}
nav a {
	color: inherit;
	text-decoration: none;
}
nav > ul {
	color: forestgreen;
	list-style: none;
}
.flex {
	display: flex;
	justify-content: space-evenly;
}